<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">

  <Identity Name="LeafletsProj" Publisher="CN=The_P" Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="51126353-f39d-4063-bf34-9d1c73d92419" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>LeafletsProj</DisplayName>
    <PublisherDisplayName>LeafletsProj</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily MaxVersionTested="10.0.0.0" MinVersion="10.0.0.0" Name="Windows.Universal" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application EntryPoint="LeafletsProjs.App" Executable="$targetnametoken$.exe" Id="App">
      <uap:VisualElements BackgroundColor="transparent" Description="LeafletsProj" DisplayName="LeafletsProj" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#FFFFFF" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>